<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Automation Test Suite" verbose="1" parallel="tests" thread-count="4">
    <listeners>
        <!-- Allure TestNG Listener -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <!-- Retry Listener for Flaky Tests -->
        <listener class-name="listeners.RetryListener"/>
    </listeners>

    <test name="Login With Valid Credentials Test">
        <classes>
            <class name="runner.TestRunnerLoginWithRegisteredCredentials"/>
        </classes>
    </test>
    <test name="Login With Unregister Credentials Test">
        <classes>
            <class name="runner.TestRunnerLoginWithUnregisterCredentials"/>
        </classes>
    </test>
    <test name="Logout User Test">
        <classes>
            <class name="runner.TestRunnerLogoutUser"/>
        </classes>
    </test>
<!--    <test name="Register User Test">-->
<!--        <classes>-->
<!--            <class name="runner.TestRunnerRegisterUser"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
