<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Automation Test Suite" verbose="1" parallel="tests" thread-count="4">
    <listeners>
        <!-- Allure TestNG Listener -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Login With Valid Credentials Test">
        <classes>
            <class name="runner.TestRunnerLoginWithValidCredentials"/>
        </classes>
    </test>


</suite>
